<div class="row" *ngIf="user$ | async as user">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30 text-center">
          <img [src]='user.photoUrl' class="rounded-circle" width="150"/>
          <h4 class="card-title m-t-10">{{user.firstName}} {{user.lastName}}</h4>
          <h6 class="card-subtitle">{{ user.description }}</h6>
          <h4 class="card-title m-t-10">
            <ngb-rating [(rate)]="user.rating" max="5"></ngb-rating>
          </h4>
        </div>
      </div>
      <div>
        <hr>
      </div>
      <div class="card-body">
        <small class="text-muted">Email address </small>
        <h6>{{user.email}}</h6>
        <small class="text-muted p-t-30 db">Phone</small>
        <h6>{{user.phone}}</h6>
        <small class="text-muted p-t-30 db">Address</small>
        <h6>{{user.location}}</h6>
        <div class="map-box">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
            width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <small class="text-muted p-t-30 db">Social Profile</small>
        <br/>
        <button class="btn btn-circle btn-secondary">
          <i class="fab fa-facebook"></i>
        </button>
        <button class="btn btn-circle btn-secondary">
          <i class="fab fa-twitter"></i>
        </button>
        <button class="btn btn-circle btn-secondary">
          <i class="fab fa-youtube"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <div class="card-header">
        <h4>Listings</h4>
      </div>
      <div class="card-body">
        <div class="row el-element-overlay">
          <div class="col-lg-3 col-md-6" *ngFor='let property of user.properties'>
            <div class="card">
              <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                  <img [src]='property.imageUrl'/>
                  <div class="el-overlay">
                    <ul class="list-style-none el-info">
                      <li class="el-item">
                        <a class="btn default btn-outline el-link" [routerLink]="['/listings', property.propertyId]">
                          <i class="icon-link"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="d-flex no-block align-items-center">
                  <div class="m-l-15">
                    <h4 class="m-b-0">{{property.description}}</h4>
                    <span class="text-muted">{{property.location}}</span>
                  </div>
                  <div class="ml-auto m-r-15">
                    <span>${{property.price}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4>Reviews</h4>
      </div>
      <div class="card-body">
        <div class="profiletimeline">
          <div class="sl-item"  *ngFor='let review of user.reviews'>
            <div class="sl-left">
              <img [src]='review.user.photoUrl' class="rounded-circle" [alt]='review.user.firstName'/>
            </div>
            <div class="sl-right">
              <div>
                <a [routerLink]="['/profile', review.user.userId]" class="link">{{review.user.firstName}} {{review.user.lastName}}</a>
                <span class="sl-date">5 minutes ago</span>
                <p class="m-t-10">{{review.comment}}
                </p>
              </div>
              <div class="like-comm m-t-20">
                <p>{{review.rating}}</p>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
